Jira/.env
data/docs/.temp/*
data/flight/trip_com/bronze_airticket/*
data/flight/.runtime/
### Spring Boot Config ###
application.yml
backend/dahaeng/.gradle-user-home/
backend/dahaeng/.gradle-home/

data/flight/google_flight/bronze_airticket/*
.idea/*
data/flight/silver/*

# Global env files
.env
.env.*
!.env.example

# Deployment env files
deploy/app/.env
deploy/app/.env.*
!deploy/app/.env.example
data/flight/trip_com/__pycache__/*

docs/plans/*

ai/