Jira/.env
data/docs/.temp/*
data/trip_com/bronze_airticket/*
data/.runtime/
### Spring Boot Config ###
application.yml
backend/dahaeng/.gradle-user-home/
backend/dahaeng/.gradle-home/

data/google_flight/*
.idea/*
data/silver/*

# Global env files
.env
.env.*
!.env.example

# Deployment env files
deploy/app/.env
deploy/app/.env.*
!deploy/app/.env.example
data/trip_com/__pycache__/*

docs/plans/*
